@font-face {
    font-family: "Bebas";
    src: url('../font/bebas.ttf');
}

body {
    background-color: #e23636;
}

.content {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url('https://soundlandscapes.files.wordpress.com/2011/01/024.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
}

#characters {
    width: 100vw;
    height: 100vh;
}

#batman {
    position: absolute;
    bottom: 10vh;
    left: 10vw;
    width: 20vw;
    height: auto;
    cursor: pointer;
}

#main-container {
    overflow: hidden;
    display: none;
}

#title {
    position: absolute;
    left: 0;
    width: 100vw;
    z-index: 15;
    text-align: center;
    font-family: Bebas;
    font-size: 18vw;
    color: #fff;
    opacity: 0;
    overflow: hidden;
}

#title-la {
    color: #000;
}

#title-ous {
    color: #000;
}

#title > span:first-child {
    margin-right: 3vw;
}
#title > span {
    position: relative;
    letter-spacing: -2.4vw;
}

#title > span + span + span {
    letter-spacing: -3.2vw;
}

#title > span + span + span + span {
    letter-spacing: -2vw;
}

#title > span + span + span + span + span {
    letter-spacing: -1vw;
}

#title > span + span + span + span + span + span {
    letter-spacing: -2.4vw;
}

.page {
    position: absolute;
    z-index: 5;
    top: -100vh;
    left: 0;
    height: 100vh;
    width: 100vw;
}

#red-panel {
    position: absolute;
    background-color: #000;
    opacity: 1;
    z-index: 10;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}
