@font-face {
    font-family: "Bebas";
    src: url('../font/bebas.ttf');
}

@font-face {
    font-family: "Kayak";
    src: url('../font/KayakSansRegular.otf');
}

body {
    background-color: #e23636;
}

.content {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

canvas, img {
    image-rendering: optimizeSpeed;             // Older versions of FF
    image-rendering: -moz-crisp-edges;          // FF 6.0+
    image-rendering: -webkit-optimize-contrast; // Webkit
    image-rendering: -o-crisp-edges;            // OS X & Windows Opera (12.02+)
    image-rendering: optimize-contrast;         // Possible future browsers.
    -ms-interpolation-mode: nearest-neighbor;   // IE
}

@media all and (orientation:landscape) {
  #scene {
      width: 120vw;
      height: calc(120vw / 1.9);
  }
}

@media all and (orientation:portrait) {
  #scene {
      height: 120vh;
      width: calc(120vh * 1.9);
  }
}

#scene {
    background: url('../img/RuelleSombre2.jpg');
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: scroll;
}

#header {
    z-index: 10;
}

#header > svg#headerSvg > path {
    /*stroke-dasharray: 100;
    stroke-dashoffset: 300;*/
}

#header > svg#headerSvg > path, #header > svg#star > path {
    transition: fill 0.5s ease-in;
}

#header > svg#headerSvg > path:hover, #header > svg#star > path:hover,
#header > svg#headerSvg > path:first-child:hover + path,
#header > svg#headerSvg > path:first-child:hover + path + path,
#header > svg#headerSvg > path:first-child:hover + path + path + path,
#header > svg#headerSvg > path:first-child:hover + path + path + path + path {
    transition: fill 0.5s ease-out;
    fill: #E23636;
}

#header > svg#star > path:hover {
    stroke: #fff;
    stroke-width: 1;
}

#header > svg#star {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 100px;
    left: calc(50vw - 49px)
}

#characters {
    width: 100vw;
    height: 100vh;
}

#characters > img:hover {
  /*-webkit-filter: grayscale(1);
  filter: grayscale(1);*/
}

#batman {
    position: absolute;
    bottom: 35%;
    left: 50%;
    width: 10%;
    height: auto;
    /*cursor: pointer;*/
}

map + img {
    transition: filter 0.5s ease-in;
}

map:hover + img {
    transition: filter 0.5s ease-out;
    filter: brightness(500%);
}

#main-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 90;
    /*display: none;*/
}

.lightbox {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
}

.lightbox > div {
    margin-top: 30vh;
    text-align: center;
    font-family: Kayak;
}

.title {
    position: absolute;
    left: 0;
    top: 30vh;
    width: 100vw;
    z-index: 15;
    text-align: center;
    font-family: Bebas;
    font-size: 18vw;
    color: #fff;
    opacity: 0;
    overflow: hidden;
}

#header .title {
    position: absolute;
    left: inherit;
    top: inherit;;
    width: 100%;
    z-index: 15;
    text-align: center;
    font-family: Bebas;
    font-size: 3em;
    color: #fff;
    opacity: 1;
    overflow: hidden;
    top: 15%;
}

.title-la,.title-ous {
    color: #20346F;
    opacity: 0;
}

.title.fadeIn {
    animation: fadeIn 1s forwards;
    animation-delay: 3s;
}

.title-la.fadeIn, .title-ous.fadeIn {
    animation: fadeIn 0.5s forwards;
    animation-delay: 4.5s;
}

.title > span:first-child {
    margin-right: 3vw;
}
.title > span {
    position: relative;
    letter-spacing: -2.4vw;
}

.title > span + span + span {
    letter-spacing: -3.2vw;
}

.title > span + span + span + span {
    letter-spacing: -2vw;
}

.title > span + span + span + span + span {
    letter-spacing: -1vw;
}

.title > span + span + span + span + span + span {
    letter-spacing: -2.4vw;
}

#header .title > span:first-child {
    margin-right: 0.15em;
}
#header .title > span {
    position: relative;
    letter-spacing: -0.13em;
    cursor: pointer;
}

#header .title > span + span + span {
    letter-spacing: -0.18em;
}

#header .title > span + span + span + span {
    letter-spacing: -0.12em;
}

#header .title > span + span + span + span + span {
    letter-spacing: -0.03em;
}

#header .title > span + span + span + span + span + span {
    letter-spacing: -0.15em;
}

.page {
    position: absolute;
    z-index: 5;
    top: -100vh;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#red-panel {
    position: absolute;
    background-color: #e23636;
    opacity: 0;
    z-index: 10;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

#red-panel.fadeIn {
    animation: fadeInRedPanel 6.44s forwards;
    /*opacity: 1;*/
}

.close {
  position: absolute;
  z-index: 100;
  right: calc(50vw - 16px);
  bottom: 32px;
  width: 32px;
  height: 32px;
  border: #e23636 solid 2px;
  border-radius: 50%;
  padding: 5px;
  transition: border 0.5s ease-in;
}
.close:hover {
  transition: border 0.5s ease-out;
  border: #20346F solid 2px;
}
.close:before, .close:after {
  margin-left: 5px;
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #e23636;
  transition: background-color 0.5s ease-in;
}
.close:hover:before, .close:hover:after {
  transition: background-color 0.5s ease-out;
  background-color: #20346F;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}



#menuContainer {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.menu {
	position: relative;
	display: inline-block;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	/*margin: 7em 0;*/
}

.trigger {
	background: none;
	width: 100px;
	height: 100px;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	text-align: center;
	font-size: 1.5em;
	color: #20346F;
	position: relative;
  z-index: 10;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent; /* For some Androids */
  cursor: pointer;
}

.trigger span {
	opacity: 0;
	position: absolute;
}

.menu__items {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	padding: 0;
	margin: 0;
	list-style-type: none;
	z-index: 5;
}

.menu__items li {
	width: 80%;
	height: 80%;
	top: 10%;
	left: 10%;
	line-height: 80px;
	font-size: 1.5em;
	position: absolute;
	z-index: -1;
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-webkit-transform: scale3d(0.5, 0.5, 1);
	transform: scale3d(0.5, 0.5, 1);
	-webkit-transition: -webkit-transform 0.25s ease-out;
	transition: transform 0.25s ease-out;
}

.menu.menu--open .menu__items li:first-child {
	-webkit-transform: scale3d(1, 1, 1) translate3d(0, -160px, 0);
	transform: scale3d(1, 1, 1) translate3d(0, -160px, 0);
}

.menu.menu--open .menu__items li:nth-child(2) {
	-webkit-transform: scale3d(1, 1, 1) translate3d(-160px, 0, 0);
	transform: scale3d(1, 1, 1) translate3d(-160px, 0, 0);
}

.menu.menu--open .menu__items li:nth-child(3) {
	-webkit-transform: scale3d(1, 1, 1) translate3d(-113.14px, -113.14px, 0);
	transform: scale3d(1, 1, 1) translate3d(-113.14px, -113.14px, 0);
}


.menu.menu--open .menu__items li:nth-child(4) {
	-webkit-transform: scale3d(1, 1, 1) translate3d(0, -320px, 0);
	transform: scale3d(1, 1, 1) translate3d(0, -320px, 0);
}


.menu.menu--open .menu__items li:nth-child(5) {
	-webkit-transform: scale3d(1, 1, 1) translate3d(0, -480px, 0);
	transform: scale3d(1, 1, 1) translate3d(0, -480px, 0);
}

.menu__items li a {
	display: block;
	background: #fff;
	color: #20346F;
	border-radius: 50%;
	outline: none;
	overflow: hidden;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent; /* For some Androids */
  text-align: center;
  height: 80px;
}

.menu__items li a i {
    margin-top: 28px;
}

.menu__items li a {
    transition: transform 0.5s ease-in;
}

.menu__items li a:hover,
.menu__items li a:focus {
    transition: transform 0.5s ease-in;
    transform: scale(1.25);
  	/*background: #272c2c;*/
	   color: #e23636 !important;
}

.menu__items li a span {
	position: absolute;
	color: transparent;
	top: 100%;
	pointer-events: none;
}

.morph-shape {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 10;
}

.morph-shape svg path {
	fill: #fff;
	-webkit-transition: fill 0.3s;
	transition: fill 0.3s;
  cursor: pointer;
}

.menu--open .morph-shape svg path {
	/*fill: #777;*/
}

.menu--open .trigger {
  color: #e23636 !important;
}

@media screen and (max-width: 40em) {
	.menu__items {
		-webkit-transform: scale3d(0.8,0.8,1);
		transform: scale3d(0.8,0.8,1);
	}
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  -webkit-transform: translate3d(0, -50px, 0);
  -ms-transform: translate3d(0, -50px, 0);
  transform: translate3d(0, -50px, 0);

  -webkit-transition: -webkit-transform .5s ease-out;
  -ms-transition: -webkit-transform .5s ease-out;
  transition: transform .5s ease-out;
}

.pace.pace-active {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.pace .pace-progress {
  display: block;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 10px;
  background: #20346F;

  pointer-events: none;
}

/*.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background-color: #e23636;
  position: fixed;
  z-index: -1;
  top: 0;
  right: 100%;
  bottom: 0;
  width: 100%;
}*/

.pace-running .content {
  display: none;
}
.hidden {
  display: none;
}

#headerSvg > path.phaseTwo {
  animation: titlePhaseTwo 2s forwards;
}
#headerSvg.phaseTwo {

}
#header > .title.phaseTwo {

}
#headerSvg > path.phaseTwo {

}
#main-container.phaseTwo {

}
#header > svg#star > path.phaseTwo {

}
#header > svg#star.phaseTwo {

}


@keyframes titlePhaseTwo {
    0% {
        transform: scale(1);
        top: 30vh;
    }
    100% {
        transform: scale(0.15);
        top: -50%;
    }
}
@keyframes slideDown {
    0% {
        top: -100vh;
    }
    100% {
        top: 0;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeInRedPanel {
    0% {
        opacity: 0;
    }
    24% {
        opacity: 0.5;
    }
    33% {
        opacity: 0.5;
    }
    41% {
        opacity: 0.75;
    }
    0% {
        opacity: 0.75;
    }
    100% {
        opacity: 1;
    }
}

#marvelImages > .marvelImage {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 5;
    top: -100vh;
    left: 0;
    width: 100vw;
    height: 100vh;
    /*transition: top 0.5s ease-in;*/
}

#marvelImages > .marvelImage.translate {
    /*transition: top 0.5s ease-in-out;*/
    animation: slideDown 0.5s forwards;
}
#marvelImages > .marvelImage:first-child {
    background-image: url('http://www.can-developing.com/marvelous/img/marvelScreen3.jpg');
}
#marvelImages > .marvelImage + .marvelImage {
    background-image: url('http://www.can-developing.com/marvelous/img/marvelScreen24.jpg');
    animation-delay: 0.5s;
}
#marvelImages > .marvelImage + .marvelImage + .marvelImage {
    background-image: url('http://www.can-developing.com/marvelous/img/marvelScreen2.jpg');
    animation-delay: 0.98s;
}
#marvelImages > .marvelImage + .marvelImage + .marvelImage + .marvelImage {
    background-image: url('http://www.can-developing.com/marvelous/img/marvelScreen4.jpg');
    animation-delay: 1.44s;
}
#marvelImages > .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage {
    background-image: url('http://www.can-developing.com/marvelous/img/marvelScreen5.png');
    animation-delay: 1.88s;
}
#marvelImages > .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage {
    background-image: url('http://www.can-developing.com/marvelous/img/marvelScreen23.jpg');
    animation-delay: 2.3s;
}
#marvelImages > .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage {
    background-image: url('http://www.can-developing.com/marvelous/img/marvelScreen6.jpg');
    animation-delay: 2.7s;
}
#marvelImages > .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage {
    background-image: url('http://www.can-developing.com/marvelous/img/marvelScreen7.jpg');
    animation-delay: 3.08s;
}
#marvelImages > .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage
 + .marvelImage {
    background-image: url('http://www.can-developing.com/marvelous/img/marvelScreen21.jpg');
    animation-delay: 3.44s;
}
#marvelImages > .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage
 + .marvelImage + .marvelImage {
background-image: url('http://www.can-developing.com/marvelous/img/marvelScreen8.jpg');
animation-delay: 3.78s;
}
#marvelImages > .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage
 + .marvelImage + .marvelImage + .marvelImage {
background-image: url('http://www.can-developing.com/marvelous/img/marvelScreen9.jpg');
animation-delay: 4.1s;
}
#marvelImages > .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage
 + .marvelImage + .marvelImage + .marvelImage + .marvelImage {
background-image: url('http://www.can-developing.com/marvelous/img/marvelScreen10.jpg');
animation-delay: 4.4s;
}
#marvelImages > .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage
 + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage {
background-image: url('http://www.can-developing.com/marvelous/img/marvelScreen11.jpg.jpg');
animation-delay: 4.68s;
}
#marvelImages > .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage
 + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage {
background-image: url('http://www.can-developing.com/marvelous/img/marvelScreen22.jpg');
animation-delay: 4.94s;
}
#marvelImages > .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage
 + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage {
background-image: url('http://www.can-developing.com/marvelous/img/marvelScreen12.jpg');
animation-delay: 5.18s;
}
#marvelImages > .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage
 + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage {
background-image: url('http://www.can-developing.com/marvelous/img/marvelScreen13.jpg');
animation-delay: 5.4s;
}
#marvelImages > .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage
 + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage {
background-image: url('http://www.can-developing.com/marvelous/img/marvelScreen14.jpg');
animation-delay: 5.6s;
}
#marvelImages > .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage
 + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage
  + .marvelImage {
background-image: url('');
animation-delay: 5.78s;
}
#marvelImages > .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage
 + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage
  + .marvelImage + .marvelImage {
background-image: url('http://www.can-developing.com/marvelous/img/marvelScreen15.jpg');
animation-delay: 5.94s;
}
#marvelImages > .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage
 + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage
  + .marvelImage + .marvelImage + .marvelImage {
background-image: url('http://www.can-developing.com/marvelous/img/marvelScreen16.jpg');
animation-delay: 6.08s;
}
#marvelImages > .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage
 + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage
  + .marvelImage + .marvelImage + .marvelImage + .marvelImage {
background-image: url('http://www.can-developing.com/marvelous/img/marvelScreen17.jpg');
animation-delay: 6.2s;
}
#marvelImages > .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage
 + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage
  + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage {
background-image: url('http://www.can-developing.com/marvelous/img/marvelScreen18.jpg');
animation-delay: 5.3s;
}
#marvelImages > .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage
 + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage
  + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage {
background-image: url('http://www.can-developing.com/marvelous/img/marvelScreen20.jpg');
animation-delay: 6.38s;
}
#marvelImages > .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage
 + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage
  + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage {
background-image: url('http://www.can-developing.com/marvelous/img/marvelScreen19.jpg');
animation-delay: 6.44s;
}
#marvelImages > .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage
 + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage
  + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage {
background-image: url('http://www.can-developing.com/marvelous/img/marvelScreen5.gif');
animation-delay: 6.48s;
}
#marvelImages > .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage
 + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage
  + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage {
background-image: url('http://www.can-developing.com/marvelous/img/marvelScreen4.gif');
animation-delay: 6.5s;
}
#marvelImages > .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage
 + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage
  + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage
   + .marvelImage {
background-image: url('http://www.can-developing.com/marvelous/img/marvelScreen2.gif');
animation-delay: 6.52s;
}
#marvelImages > .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage
 + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage
  + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage + .marvelImage
   + .marvelImage + .marvelImage {
background-image: url('http://www.can-developing.com/marvelous/img/marvelScreen1.gif');
animation-delay: 6.64s;
}
